.titulo { 
    text-align: center;
background-color:  #252850;
color: white;
}

.menucito {
    text-align: center;
}

.imagenUno { 
margin-left: 25%;
margin-top: 3%;
}
.noDejes { 
    color: black;
}
body { 
background-color:  #252850;
}

.noticias { 
color: white;
text-align: center;
margin-top: 5%;
background-color: grey;
}



footer ul { 
    color: white;
list-style: none;
}

.linea { 
    color: white;
}

.informacion { 
    text-align: center;
color: orange;
}

u { 
    color: orange;
}

.padre {  
    background-color:white ;
margin-left: 7%;
margin-right: 7%;

}

.socios { 
    text-align: center;
}

.socios li { 
    color: red;
}
