.titulo { 
    text-align: center;
background-color:  #252850;
color: white;
}

.menucito {
    text-align: center;
}

.imagenUno { 
margin-left: 25%;
margin-top: 3%;
}
.noDejes { 
    color: black;
}
body { 
background-color:  #252850;
}

.noticias { 
color: white;
text-align: center;
margin-top: 5%;
background-color: grey;
}



footer ul { 
    color: white;
list-style: none;
}

.linea { 
    color: white;
}

.informacion { 
    text-align: center;
color: orange;
}

u { 
    color: orange;
}

.padre {  
    background-color:white ;
margin-left: 7%;
margin-right: 7%;

}

.ulUno li { 
    color: red;
}

.video { 
    text-align: center;
}
.conte {
    background-color: white;
}

.cardUno {
    grid-area: cardUno;
}
.cardDos { 
    grid-area: cardDos;
}

.cardTres { 
    grid-area: cardTres;
}

.cardCuatro { 
    grid-area: cardCuatro;
}
.cardCinco { 
    grid-area: cardCinco;
}

.cardSeis { 
    grid-area: cardSeis;
}

@media(min-width:1200px) {
    .conte { 
        display: grid;
        grid-template-areas: 
        "cardUno cardDos cardTres "
        "cardCuatro cardCinco cardSeis "
        ;
    }
}
