.titulo {
    text-align: center;
    background-color: #252850;
    color: white;
}

.menucito {
    text-align: center;
}

.imagenUno {
    margin-left: 25%;
    margin-top: 3%;
}

.noDejes {
    color: black;
}

body {
    background-color: #252850;
}

.noticias {
    color: white;
    text-align: center;
    margin-top: 5%;
    background-color: grey;
}



footer ul {
    color: white;
    list-style: none;
}

.linea {
    color: white;
}

.informacion {
    text-align: center;
    color: orange;
}

u {
    color: orange;
}

.padre {
    background-color: white;
    margin-left: 7%;
    margin-right: 7%;

}

.ulUno li {
    color: red;
}

.video {
    text-align: center;
}

.conte {
    background-color: white;
}

.cardUno {
    grid-area: cardUno;
}

.cardDos {
    grid-area: cardDos;
}

.cardTres {
    grid-area: cardTres;
}

.cardCuatro {
    grid-area: cardCuatro;
}

.cardCinco {
    grid-area: cardCinco;
}

.cardSeis {
    grid-area: cardSeis;
}

@media(min-width:1200px) {
    .conte {
        display: grid;
        grid-template-areas:
            "cardUno cardDos cardTres "
            "cardCuatro cardCinco cardSeis "
        ;
    }
}

.tablas {
    background-color: wheat;
}

.tabla {
    background-color: white;
}

.tituloUno {
    text-align: center;
    color: orange;
}

.sectionB {
    grid-area: sectionB;
}

.sectionC {
    grid-area: sectionC;
}

@media(min-width:900px) {
    .padreTablas {
        display: grid;
        gap: 10px;
        grid-template-areas:
            "sectionB sectionC";
    }
}

.padreTablas {
    /* background-color: white; */
    margin-top: 3%;
}

h4 {
    color: orange;
    text-align: center;
}

.goleadores {
    grid-area: goleadores;
}

.partidos {
    grid-area: partidos;
}

@media (min-width:900px) {
    .padreResumen {
        display: grid;
        gap: 10px;
        grid-template-areas:
            "goleadores partidos"
        ;
    }
}

.talleres {
    color: white;
    text-align: center;
    font-size: xxx-large;
    margin-top: 2%;
    border: solid gray 1px;
    background-color: gray;
    padding: 1%;

}

h3 {
    color: white;
    margin-top: 3%;
}

.history {
    color: white;
}

.subtitulos {
    font-size: x-large;
    text-align: center;
}

.imagen {
    text-align: center;
}
.unPoco{
    text-align: center;
}

.servicio { 
    color: white;
text-align: center;
margin-top: 15%;
}