$color_1: white;
$color_2: black;
$color_3: orange;
$color_4: red;
$background-color_1: #252850;
$background-color_2: grey;
$background-color_3: white;
$background-color_4: wheat;
$background-color_5: gray;
