
@import "variables";


.titulo {
	text-align: center;
	background: linear-gradient(to right,  $background-color_1, white);
}
.menucito {
	text-align: center;
}
.imagenUno {
	margin-left: 25%;
	margin-top: 3%;
}
.noDejes {
	color: $color_2;
}
body {
	background: linear-gradient( $background-color_1, white);
}
.noticias {
	color: $color_1;
	text-align: center;
	margin-top: 5%;
	background-color: $background-color_2;
}
footer {
	ul {
		color: black;
		list-style: none;
		background-color: white;
	
	}
}
.linea {
	color: black;
}
.informacion {
	text-align: center;
	color: black;
	font-weight: bold;
}
u {
	color: $color_3;
}
.padre {
	background-color: whitesmoke;
	margin-left: 4%;
	margin-right: 4%;
}
.ulUno {
	li {
		color: black;
		text-transform: uppercase;
		font-weight: bold;
	}
	p { 
		color: black;
	}
	}
.video {
	text-align: center;
}

.cardUno {
	grid-area: cardUno;
	&:hover { 
	background-color: $fondo-color;
	}
}
.cardDos {
	grid-area: cardDos;
&:hover { 
background-color: $fondo-color;
}
}
.cardTres {
	grid-area: cardTres;
&:hover { 
	background-color: $fondo-color;
}
}
.cardCuatro {
	grid-area: cardCuatro;
&:hover { 
	background-color: $fondo-color;
}
}
.cardCinco {
	grid-area: cardCinco;
&:hover { 
	background-color: $fondo-color;
}
}
.cardSeis {
	grid-area: cardSeis;
	&:hover { 
		background-color: $fondo-color;
	}
}
.cardSiete { 
	grid-area: cardSiete;
&:hover { 
	background-color: $fondo-color;
}
}
 .cardOcho { 
	grid-area: cardOcho;
&:hover { 
	background-color: $fondo-color;
}
}

.tablas {
	background-color: $background-color_4;
}
.tabla {
	background-color: $background-color_3;
}
.tituloUno {
	text-align: center;
	color: $color_3;
}
.sectionB {
	grid-area: sectionB;
}
.sectionC {
	grid-area: sectionC;
}
.padreTablas {
	margin-top: 3%;
}
h4 {
	color: $color_3;
	text-align: center;
}
.goleadores {
	grid-area: goleadores;
}
.partidos {
	grid-area: partidos;
}
.talleres {
	color: $color_1;
	text-align: center;
	font-style: italic;
	margin-top: 2%;
	border: solid white 1px;
	background-color: $background-color_5;
	padding: 1%;
}
h3 {
	color: $color_1;
	margin-top: 3%;
}
.history {
	color: $color_1;
}
.subtitulos {
	color: black;
text-align: center;
font-size: x-large;
font-style: italic;

}  
.imagen {
	text-align: center;
}

.servicio {
	color: $color_1;
	text-align: center;
	margin-top: 15%;
}
.formulario {
	background-color: $background-color_3;
	color: $color_2;
	margin-top: 50px;
}
.consulta {
	color: $color_1;
}
.botones {
	width: 500px;
	display: inline;
}
.contacto {
	color: $color_2;
}
@media (min-width:1190px) {
	.conte {
		display: grid;
		grid-template-areas: "cardUno cardDos cardTres cardSiete"
		                     "cardCuatro cardCinco cardSeis cardOcho";
	}
}
@media (min-width:900px) {
	.padreTablas {
		display: grid;
		gap: 10px;
		grid-template-areas: "sectionB sectionC";
	}
}
@media (min-width:900px) {
	.padreResumen {
		display: grid;
		gap: 10px;
		grid-template-areas: "goleadores partidos";
	}
}

@media (max-width:800px){
    .escudo { 
        width: 9%;
    }
}
@media(min-width: 801px) { 
    .escudo { 
        width: 7%;
    }
}
@media (min-width: 1280px){
    .escudo { 
        width: 4.5%;
    }
}

.contacto { 
    h2 { 
        text-align: center;
    font-size: 3rem;
    }
}
.contactoFondo {
	background: linear-gradient(to right blue, red);
}
.contact {
    text-align: center;
    color: black;
} 

nav { 
	ul { 
		list-style: none;
		li {
			a { 
				text-decoration: none;
		}
	}
}
}

.socios { 
	
	background-image: url(../imagenes/asociate.jpg);
}

.infoT { 
		text-align: center;
margin-top: 2%;
margin-bottom: 2%;
}


@media(min-width:1100px) {

.flexUno { 
 display: flex;
flex-direction: row;
.cajaUno { 
	width: 120%;
margin-top: 3%;
}
.cajaDos { 
	width:70% ;
}
}
} 
@media(min-width:1100px) { 
	.flexDos { 
		display: flex;
		flex-direction: row;
	}
	.cajaTres { 
		width: 100%;
		margin-left: 2%;
	}
	.cajaCuatro { 
		width: 100%;
		text-align: center;
	}
}

@media(min-width:1100px) { 
.flexTres { 
	display: flex;
}
.cajaSeis { 
	width: 70%;
}
.cajaCinco { 
	width: 120%;
}
}

@media(min-width:1100px) { 
	.flexCuatro { 
		display: flex;
	}
	.cajaSieste { 
		width: 120%;
		margin-top: 3%;
	}
	.cajaOcho { 
		width: 80%;
	}
}

.history { 
	p { 
		color: black;
	}
	hr { 
		color: black;
	}
}


.bienvenido { 
text-align: center;
color: white;
margin-top: 3%;
}

.mapa { 
	margin-left: 6%;
}

.papaCard { 
margin-right: 5%;
}
.noti { 
	margin-left: 1%;
}

@media (max-width: 603px ) { 
.conte { 
	margin-left: 15%;
}
}

@media (min-width:500px) and (max-width:605px) { 
	.conte { 
		margin-left: 23%;
	}
}

.div { 
	background-color: white;
}

.publicidad { 
	text-align: center;
	margin-top: 4%;
   
}